.dashboard {
    padding: 1rem;
    min-height: 100vh;
    background: url('../assets/blob-scene-haikei.svg');
    background-size: cover;
    background-position: center;

    & &__top {
        display: flex;
        justify-content: space-between;
    }

    & &__title {
        color: #263A29;
        font-size: 2rem;
        text-transform: uppercase;
    }

    & &__user {
        font-size: 1.5rem;
        color: #E86A33;
        display: flex;
        gap: 1rem;
    }

    & &__logout {
        background-color: #E86A33;
        border: 0;
        padding: 0.5rem;
        color: #263A29;
        font-weight: 700;

        &:hover {
            background-color: #eb7b4b;
        }
    }

    & &__links {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    & &__link {
        background-color: #41644A;
        box-shadow: 5px 5px #263A29;
        min-width: calc(50% - 2rem);
        flex: 1;
        height: 100px;
        color: #E86A33;
        display: grid;
        place-content: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;

        &:hover {
            background-color: #263A29;
        }
    }

    & &__subtitle {
        color: #E86A33;
    }

    & &__calorie-form {
        display: flex;
        flex-direction: column;


        & label {
            color: #263A29;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 0.25rem;
            font-size: 1.25rem;
        }

        & input {
            background: transparent;
            outline: none;
            border: 1px solid #41644A;
            padding: 0.5rem;
            color: #E86A33;
            font-weight: bold;
            font-size: 1.25rem;
            border-radius: 5px;
        }
    }

    & &__form-buttons {
        display: flex;
        margin-top: 1rem;
        gap: 1rem;

        & button {
            flex: 1;
            background-color: #263A29;
            box-shadow: 2px 2px #E86A33;
            border: 0;
            color: #E86A33;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;

        }
    }

    & &__add-meal {
        background-color: #E86A33;
        border: 0;
        color: #263A29;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
    }

    & &__back {
        font-size: 2rem;
        font-size: #F1E2DB;
    }

}