.dashboard {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;

    & &__main {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    & &__top {
        display: flex;
        justify-content: space-between;
    }

    & &__title {
        color: $color;
        font-size: 2rem;
        text-transform: uppercase;
    }

    & &__user {
        font-size: 1.5rem;
        color: $color;
        display: flex;
        gap: 1rem;
    }

    & &__logout {
        background-color: $dark;
        border: 0;
        padding: 0.5rem;
        color: $gray;
        font-weight: 700;

        &:hover {
            background-color: $color;
        }
    }

    & &__links {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & &__link {
        background-color: $color;
        box-shadow: 5px 5px $dark;
        flex: 1;
        color: $gray;
        padding: 2rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;

        &:hover {
            background-color: $dark;
        }
    }

    & &__subtitle {
        color: $dark;
    }

    & &__percentage {
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        margin-top: 0.5rem;
        background-color: $dark;
        color: $gray;
        padding: 0.5rem;

        & span:nth-child(2) {
            font-weight: 700;
        }
    }

    & &__calorie-form {
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;


        & label {
            color: $dark;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 0.25rem;
        }

        & input {
            background: transparent;
            outline: none;
            border: 1px solid $dark;
            padding: 0.5rem;
            color: $dark;
            font-weight: bold;
            font-size: inherit;
            border-radius: 5px;
        }
    }

    & &__form-buttons {
        display: flex;
        margin-top: 1rem;
        gap: 1rem;

        & button {
            flex: 1;
            background-color: $dark;
            box-shadow: 2px 2px $dark2;
            border: 0;
            color: $gray;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: inherit;

        }
    }

    & &__add-meal {
        background-color: $dark;
        border: 0;
        color: $gray;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
    }

    & &__back {
        font-size: 2rem;
        font-size: #F1E2DB;
    }

    & &__meals {
        margin-bottom: 125px;
        overflow: scroll;
    }

    & &__picker {
        margin-bottom: 1rem;
    }

    @media screen and (min-width: 1200px) {
        & &__user {
            font-size: 2.5rem;
        }

        & &__title {
            font-size: 3.5rem;
        }

        & &__logout {
            font-size: 1.5rem;
        }

        & &__link {
            font-size: 2.5rem;
        }

        & &__subtitle {
            font-size: 2rem;
        }

        & &__percentage {
            font-size: 2rem;
        }

        & &__calorie-form {
            font-size: 1.75rem;
        }

        & &__picker {
            font-size: 1.75rem;
        }
    }
}